body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0px;
  padding: 0px;
}

.nav-list,
.qualities,
.offers,
.team,
.projects-filter,
.projects-portfolio,
.contacts-list-footer {
  list-style-type: none;
}

button:hover, button:focus {
  cursor: pointer;
}

section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.active::after {
  position: absolute;
  content: "";
  width: 48px;
  height: 4px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 2px;
  background-color: #2196f3;
}

.section-header {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
  text-align: center;
}

.project-container {
  display: block;
}

.logo-link {
  font-family: Raleway;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
  margin-right: 93px;
  padding: 24px 0px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.color-logo-link-header {
  color: #000;
}

.color-logo-link-footer {
  color: #fff;
}

.logo-link:hover, .logo-link:focus {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
  border-bottom: 1px solid #ececec;
}

.nav-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list li {
  margin-right: 50px;
}

.nav-list li:nth-child(3n) {
  margin-right: 0;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-left: auto;
}

.contacts li {
  margin-right: 30px;
}

.contacts li:nth-child(2n) {
  margin-right: 0px;
}

.index-link,
.portfolio-link,
.contacts-link {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  padding: 32px 0px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link-header,
.tel-link-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  padding: 32px 0px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.index-link:hover, a.index-link:focus,
a.index-link:hover,
a.index-link:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.portfolio-link:hover, a.portfolio-link:focus,
a.portfolio-link:hover,
a.portfolio-link:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.contacts-link:hover, a.contacts-link:focus,
a.contacts-link:hover,
a.contacts-link:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.mail-link-header:hover, a.mail-link-header:focus,
a.mail-link-header:hover,
a.mail-link-header:focus {
  color: #2196f3;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.tel-link-header:hover, a.tel-link-header:focus,
a.tel-link-header:hover,
a.tel-link-header:focus {
  color: #2196f3;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.mail-link-header:hover .envelope,
a.mail-link-header:focus .envelope,
a.mail-link-header:hover .envelope,
a.mail-link-header:focus .envelope {
  fill: #2196f3;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.tel-link-header:hover .smartphone,
a.tel-link-header:focus .smartphone,
a.tel-link-header:hover .smartphone,
a.tel-link-header:focus .smartphone {
  fill: #2196f3;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section {
  max-width: 1600px;
  height: 600px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../../imges/Imgbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  padding: 200px 0;
  margin-right: auto;
  margin-left: auto;
  background: rgba(47, 48, 58, 0.4);
}

.main-theme {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #fff;
  text-transform: uppercase;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main-theme-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  color: #fff;
  background: #2196f3;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-theme-btn:hover, .main-theme-btn:focus,
.main-theme-btn:hover,
.main-theme-btn:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.qualities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.qualities-item {
  width: 270px;
}

.qualities-item:nth-child(-n + 3) {
  margin-right: 30px;
}

.qualities-description-header {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
}

.qualities-description-text {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.qualities-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.qualities-list-item:hover, .qualities-list-item:focus,
.qualities-list-item:hover,
.qualities-list-item:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.qualities-svg-icon {
  width: 70px;
  height: 70px;
}

.offer-section {
  padding-top: 0;
  padding-bottom: 94px;
}

.container-offer {
  display: block;
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.offer-item {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: 30px;
}

.offer-item:nth-child(3n) {
  margin-right: 0;
}

.offer-item img {
  display: block;
  width: 100%;
  height: 100%;
}

.offer-item-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
}

.team-section {
  background-color: #f5f4fa;
}

.container-team {
  display: block;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.team .team-card {
  width: 270px;
  margin-right: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team li:last-child {
  margin-right: 0px;
}

.team li img {
  display: block;
  width: 100%;
  height: auto;
}

.person-description {
  padding: 30px 32px;
}

.person-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
  text-align: center;
}

.person-profession {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
  margin-top: 10px;
  text-align: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-list-item {
  list-style-type: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item:hover, .social-list-item:focus {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item {
  margin-right: 10px;
}

.social-list-item:last-child {
  margin-right: 0;
}

.social-list-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item a:hover .social-list-icon, .social-list-item a:focus .social-list-icon {
  fill: #fff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item a:hover, .social-list-item a:focus {
  background-color: #2196f3;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-clients {
  display: block;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-top: 50px;
}

.clients-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-item a:hover, .clients-item a:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item a:hover .clients-logo, .clients-item a:focus .clients-logo {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item a {
  width: 170px;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logo-link-footer {
  font-family: Raleway;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.19;
  text-decoration: none;
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item-footer {
  margin-top: 9px;
}

.address-container {
  margin-right: 70px;
}

.address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
  margin-top: 20px;
}

.mail-link-footer,
.tel-link-footer {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-top: 9px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-header {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.social-footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-top: 20px;
}

.social-footer-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
}

.social-footer-item:last-child {
  margin-right: 0;
}

.social-list-footer-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.social-footer-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-item a:hover, .social-footer-item a:focus {
  background-color: #2196f3;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit-area {
  margin-left: auto;
}

.submit-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.footer-submit {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  color: #fff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-btn {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: #2196f3;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.send-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}

a.mail-link-footer:hover, a.mail-link-footer:focus,
a.tel-link-footer:hover,
a.tel-link-footer:focus {
  color: #2196f3;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn .close {
  width: 11px;
  height: 11px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, .close-btn:focus {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
}

.modal-header {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.inputs-container {
  list-style: none;
  margin-top: 12px;
}

.inputs-container-item {
  margin-top: 10px;
}

.inputs-container-item:first-child {
  margin-top: 0;
}

.inputs-container-item .form-label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.inputs-container-item .form-input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.inputs-container-item textarea {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.inputs-container-item textarea::-webkit-input-placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.inputs-container-item textarea:-ms-input-placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.inputs-container-item textarea::-ms-input-placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.inputs-container-item textarea::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy-checkbox {
  position: relative;
  width: 425px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.checkbox {
  position: absolute;
  width: 16px;
  height: 15px;
  left: 0;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  pointer-events: none;
  border: 2px solid black;
  border-radius: 2px;
}

.checkbox-input:checked + .checkbox {
  background-color: #2196f3;
  background-origin: border-box;
  border: transparent;
}

.checkbox-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.policy-checkbox .checkbox-label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: auto;
}

.policy-doc {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.modal-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  color: #fff;
  background: #2196f3;
  border-radius: 4px;
  border: none;
  padding: 10px 55px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.inputs-container-item .name {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 105px;
  left: 56px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inputs-container-item .tel {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 177px;
  left: 56px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inputs-container-item .email {
  position: absolute;
  width: 15px;
  height: 12px;
  top: 250px;
  left: 56px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: #2196f3;
}

.footer-submit:focus {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: #2196f3;
}

.textarea:focus {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: #2196f3;
}

.form-input:focus + .name {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
}

.form-input:focus + .tel {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
}

.form-input:focus + .email {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
}

.form-input:focus {
  cursor: pointer;
  border: 1px solid #2196f3;
}
/*# sourceMappingURL=main.css.map */