body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0px;
  padding: 0px;
}

.nav-list,
.qualities,
.offers,
.team,
.projects-filter,
.projects-portfolio,
.contacts-list-footer {
  list-style-type: none;
}

button:hover, button:focus {
  cursor: pointer;
}

section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.active::after {
  position: absolute;
  content: "";
  width: 48px;
  height: 4px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 2px;
  background-color: #2196f3;
}

.section-header {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
  text-align: center;
}

.logo-link {
  font-family: Raleway;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
  margin-right: 93px;
  padding: 24px 0px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.color-logo-link-header {
  color: #000;
}

.color-logo-link-footer {
  color: #fff;
}

.logo-link:hover, .logo-link:focus {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
  border-bottom: 1px solid #ececec;
}

.nav-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list li {
  margin-right: 50px;
}

.nav-list li:nth-child(3n) {
  margin-right: 0;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-left: auto;
}

.contacts li {
  margin-right: 30px;
}

.contacts li:nth-child(2n) {
  margin-right: 0px;
}

.index-link,
.portfolio-link,
.contacts-link {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  padding: 32px 0px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link-header,
.tel-link-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  padding: 32px 0px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.index-link:hover, a.index-link:focus,
a.index-link:hover,
a.index-link:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.portfolio-link:hover, a.portfolio-link:focus,
a.portfolio-link:hover,
a.portfolio-link:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.contacts-link:hover, a.contacts-link:focus,
a.contacts-link:hover,
a.contacts-link:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.mail-link-header:hover, a.mail-link-header:focus,
a.mail-link-header:hover,
a.mail-link-header:focus {
  color: #2196f3;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.tel-link-header:hover, a.tel-link-header:focus,
a.tel-link-header:hover,
a.tel-link-header:focus {
  color: #2196f3;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.mail-link-header:hover .envelope,
a.mail-link-header:focus .envelope,
a.mail-link-header:hover .envelope,
a.mail-link-header:focus .envelope {
  fill: #2196f3;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.tel-link-header:hover .smartphone,
a.tel-link-header:focus .smartphone,
a.tel-link-header:hover .smartphone,
a.tel-link-header:focus .smartphone {
  fill: #2196f3;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section {
  max-width: 1600px;
  height: 600px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../../imges/Imgbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  padding: 200px 0;
  margin-right: auto;
  margin-left: auto;
  background: rgba(47, 48, 58, 0.4);
}

.main-theme {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #fff;
  text-transform: uppercase;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main-theme-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  color: #fff;
  background: #2196f3;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-theme-btn:hover, .main-theme-btn:focus,
.main-theme-btn:hover,
.main-theme-btn:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */