:root {
  --link-color: #2196f3;
  --principal-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #fff;
  --black-color: #000;
  --filter-btn-color: #f5f4fa;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --bck-grnd-color: #e5e5e5;
  --theme-color: #2f303a;
  --svg-color: ##afb1b8;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0px;
  padding: 0px;
}

.nav-list,
.qualities,
.offers,
.team,
.projects-filter,
.projects-portfolio,
.contacts-list-footer {
  list-style-type: none;
}

.active::after {
  position: absolute;
  content: "";
  width: 48px;
  height: 4px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  background-color: var(--link-color);
}

/* --- hover focus --- */

button:hover,
button:focus {
  cursor: pointer;
}

a.index-link:hover,
a.index-link:focus {
  color: var(--link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.portfolio-link:hover,
a.portfolio-link:focus {
  color: var(--link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.contacts-link:hover,
a.contacts-link:focus {
  color: var(--link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.mail-link-header:hover,
a.mail-link-header:focus,
a.mail-link-footer:hover,
a.mail-link-footer:focus {
  color: var(--link-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.mail-link-header:hover .envelope,
a.mail-link-header:focus .envelope,
a.tel-link-header:hover .smartphone,
a.tel-link-header:focus .smartphone {
  fill: var(--link-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.tel-link-header:hover,
a.tel-link-header:focus,
a.tel-link-footer:hover,
a.tel-link-footer:focus {
  color: var(--link-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-filter-btn:hover,
.project-filter-btn:focus {
  cursor: pointer;
  color: var(--white-color);
  background: var(--link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-portfolio-item:hover,
.projects-portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link:hover,
.logo-link:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* --- ----------- --- */

/* --- base config ---*/

section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

/* --- ---------- ---*/

/* --- LOGO asset ---*/

.logo-link {
  font-family: Raleway;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--link-color);
  margin-right: 93px;
  padding: 24px 0px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.color-logo-link-header {
  color: var(--black-color);
}

.color-logo-link-footer {
  color: var(--white-color);
}

/* --- -------- --- */

/* --- NAV styles --- */

.nav-menu {
  align-items: center;
}
.nav-list {
  display: flex;
}

.nav-list > li {
  margin-right: 50px;
}

.nav-list > li:nth-child(3n) {
  margin-right: 0;
}

.contacts {
  display: flex;
  list-style-type: none;
  margin-left: auto;
}

.contacts > li {
  margin-right: 30px;
}

.contacts > li:nth-child(2n) {
  margin-right: 0px;
}

.index-link,
.portfolio-link,
.contacts-link {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--principal-text-color);
  text-decoration: none;
  padding: 32px 0px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link-header,
.tel-link-header {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
  padding: 32px 0px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --- ---------- --- */

/* --- hero section --- */

.hero-section {
  max-width: 1600px;
  height: 600px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../imges/Imgbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  padding: 200px 0;
  margin-right: auto;
  margin-left: auto;
  background: rgba(47, 48, 58, 0.4);
}

.main-theme {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white-color);
  text-transform: uppercase;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main-theme-btn {
  display: flex;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  color: var(--white-color);
  background: var(--link-color);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-theme-btn:hover,
.main-theme-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --- ------------ --- */

/* --- section header ---*/

.section-header {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  color: var(--principal-text-color);
  text-align: center;
}

/* --- -------------- ---*/

/* --- qualities sec ---*/

.qualities {
  display: flex;
}

.qualities-item {
  width: 270px;
}

.qualities-item:nth-child(-n + 3) {
  margin-right: 30px;
}

.qualities-description-header {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--principal-text-color);
  margin-top: 30px;
}

.qualities-description-text {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.qualities-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--filter-btn-color);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.qualities-list-item:hover,
.qualities-list-item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.qualities-svg-icon {
  width: 70px;
  height: 70px;
}

/* --- ------------- ---*/

/* --- offer section ---*/

.offer-section {
  padding-top: 0;
  padding-bottom: 94px;
}

.container-offer {
  display: block;
}

.offers {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.offer-item {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: 30px;
}

.offer-item:nth-child(3n) {
  margin-right: 0;
}

.offer-item > img {
  display: block;
  width: 100%;
  height: 100%;
}

.offer-item-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
}

/* --- ------------- --- */

/* --- team section ---*/

.team-section {
  background-color: var(--filter-btn-color);
}

.container-team {
  display: block;
}

.team {
  display: flex;
  margin-top: 50px;
}

.team > li {
  width: 270px;
  margin-right: 30px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team > li:last-child {
  margin-right: 0px;
}

.team > li > img {
  display: block;
  width: 100%;
  height: auto;
}
.person-description {
  padding: 30px 32px;
}

.person-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--principal-text-color);
  text-align: center;
}

.person-profession {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
  margin-top: 10px;
  text-align: center;
}

.social-list {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}

.social-list-item {
  list-style-type: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item:hover,
.social-list-item:focus {
  fill: var(--link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item {
  margin-right: 10px;
}

.social-list-item:last-child {
  margin-right: 0;
}

.social-list-item > a {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item > a:hover .social-list-icon,
.social-list-item > a:focus .social-list-icon {
  fill: var(--white-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item > a:hover,
.social-list-item > a:focus {
  background-color: var(--link-color);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --- ------------ ---*/

/* --- Clients section --- */

.container-clients {
  display: block;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.clients-list {
  display: flex;
  list-style-type: none;
  margin-top: 50px;
}

.clients-item {
  display: flex;
  margin-right: 30px;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-item > a:hover,
.clients-item > a:focus {
  border: 1px solid var(--link-color);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item > a:hover .clients-logo,
.clients-item > a:focus .clients-logo {
  fill: var(--link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item > a {
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --- --------------- --- */

/* --- --- SECOND PAGE --- --- */

.project-container {
  display: block;
}

/* --- portfolio menu --- */

.projects-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.projects-filter-item:nth-child(-n + 4) {
  margin-right: 8px;
}

.project-filter-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  background: var(--filter-btn-color);
  border: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --- -------------- --- */

/* --- portfolio item --- */

.projects-portfolio {
  display: flex;
  flex-wrap: wrap;
}

.projects-portfolio-item {
  background-color: var(--white-color);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.projects-portfolio-item > img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-item-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.projects-portfolio-header {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--principal-text-color);
}

.projects-portfolio-text {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  color: var(--secondary-text-color);
  margin-top: 4px;
}

.overlay {
  position: relative;
  overflow: hidden;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay > img {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  width: 370px;
  height: auto;
  left: 0;
  bottom: -101%;
  transition: 250ms linear;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-portfolio-item:hover .overlay-text,
.projects-portfolio-item:focus .overlay-text {
  left: 0;
  bottom: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --- -------------- --- */

/* --- footer --- */

.flex-container {
  display: flex;
  align-items: baseline;
}

footer {
  padding: 60px 0;
  background-color: var(--theme-color);
}

.footer {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logo-link-footer {
  font-family: Raleway;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.19;
  text-decoration: none;
  color: var(--link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item-footer {
  margin-top: 9px;
}

.address-container {
  margin-right: 70px;
}

.address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
  margin-top: 20px;
}

.mail-link-footer,
.tel-link-footer {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  color: var(--footer-contacts-color);
  text-decoration: none;
  margin-top: 9px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-header {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.social-footer-list {
  display: flex;
  list-style-type: none;
  margin-top: 20px;
}

.social-footer-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
}

.social-footer-item:last-child {
  margin-right: 0;
}

.social-list-footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

.social-footer-item > a {
  display: flex;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-item > a:focus,
.social-footer-item > a:hover {
  background-color: var(--link-color);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit-area {
  margin-left: auto;
}

.submit-area {
  display: flex;
  margin-top: 20px;
}

.footer-submit {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  color: var(--white-color);
  background-color: var(--theme-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-btn {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: var(--link-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.send-icon {
  width: 24px;
  height: 24px;
  fill: var(--white-color);
}

/* --- ------ --- */

/* --- BACK DROP --- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn > .close {
  width: 11px;
  height: 11px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--link-color);
}

.modal-header {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.inputs-container {
  list-style: none;
  margin-top: 12px;
}

.inputs-container-item {
  margin-top: 10px;
}

.inputs-container-item:first-child {
  margin-top: 0;
}

.inputs-container-item > .form-label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.inputs-container-item > .form-input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.inputs-container-item > textarea {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.inputs-container-item > textarea::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy-checkbox {
  position: relative;
  width: 425px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.checkbox {
  position: absolute;
  width: 16px;
  height: 15px;
  left: 0;
  transform: translateY(20%);
  pointer-events: none;
  border: 2px solid black;
  border-radius: 2px;
}

.checkbox-input:checked + .checkbox {
  background-color: var(--link-color);
  background-origin: border-box;
  border: transparent;
}

.checkbox-input {
  appearance: none;
}

.policy-checkbox > .checkbox-label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: auto;
}

.policy-doc {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--link-color);
}

.modal-btn {
  display: flex;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  color: var(--white-color);
  background: var(--link-color);
  border-radius: 4px;
  border: none;
  padding: 10px 55px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.inputs-container-item > .name {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 105px;
  left: 56px;
  transform: translateY(+50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inputs-container-item > .tel {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 177px;
  left: 56px;
  transform: translateY(+50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inputs-container-item > .email {
  position: absolute;
  width: 15px;
  height: 12px;
  top: 250px;
  left: 56px;
  transform: translateY(+50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: var(--link-color);
}

.footer-submit:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: var(--link-color);
}

.textarea:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: var(--link-color);
}

.form-input:focus + .name {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--link-color);
}

.form-input:focus + .tel {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--link-color);
}

.form-input:focus + .email {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--link-color);
}

.form-input:focus {
  cursor: pointer;
  border: 1px solid var(--link-color);
}

/* --- --------- --- */
